.list-inline li {
    list-style: none;
    margin: 0 20px;
    display: inline;
}

.contact-button {
    display: flex;
    background: blue;
    color: antiquewhite;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    border-radius: 100%;
}

/* .navbar-main-floating {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
} */

.project {
    background: teal;
    border: 1px solid red;
    height: 300px;
    width: 420px;
}
