@import url("styles/chillax.css");
@import url("styles/satoshi.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        box-sizing: border-box;
        /* border: 1px solid red; */
    }

    #root {
        display: flex;
    }

    footer {
        background: #141414;
    }
    .nav-scroll {
        /* thanks to https://css.glass */
        background: rgba(255, 255, 255, 0.12);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.8px);
        -webkit-backdrop-filter: blur(6.8px);
    }
    .bg-circle {
        background: rgb(253, 29, 29);
        background: linear-gradient(
            90deg,
            rgba(253, 29, 29, 0.623) 0%,
            rgba(255, 38, 114, 0.538) 80%
        );
        height: 550px;
        width: 550px;
        border-radius: 500px;
        position: absolute;
        box-shadow: 0 0 50px 15px #ff5a8397;
    }

    .project-image {
        min-height: 400px;
        max-width: 400px;
    }
}
