@import url("styles/chillax.css");
@import url("styles/satoshi.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        box-sizing: border-box;
        /* border: 1px solid red; */
    }

    #root {
        display: flex;
    }

    footer {
        background: #141414;
    }
    .floating-navbar {
        /* thanks to https://css.glass */
        background: rgba(248, 248, 248, 0.568);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(6.8px);
        -webkit-backdrop-filter: blur(6.8px);
    }
    .floating-navbar-items:hover {
        background: rgba(0, 68, 255, 0.079);
    }
    .bg-circle {
        background: rgb(29, 37, 253);
        background: linear-gradient(
            90deg,
            rgba(29, 253, 163, 0.294) 0%,
            rgba(38, 60, 255, 0.357) 80%
        );
        height: 550px;
        width: 550px;
        border-radius: 500px;
        position: absolute;
        box-shadow: 0 0 50px 15px #80a6ff6c;
    }
    .main-cover-title {
        font-size: 8.5rem;
        text-align: center;
    }

    .project-image {
        min-height: 400px;
        max-width: 400px;
    }
}
